<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="campusattendance.attendance_student.mapper.StudentMapper">
    
    <select id="findByStudentNo" parameterType="String" resultType="campusattendance.attendance_student.model.Student">
        SELECT * FROM student WHERE student_no = #{studentNo}
    </select>
    
    <select id="findById" parameterType="Long" resultType="campusattendance.attendance_student.model.Student">
        SELECT * FROM student WHERE id = #{studentId}
    </select>
    
    <select id="selectByClassId" parameterType="Long" resultType="campusattendance.attendance_student.model.Student">
        SELECT * FROM student WHERE class_id = #{classId}
    </select>
    
    <select id="countByClassId" parameterType="Long" resultType="Integer">
        SELECT COUNT(*) FROM student WHERE class_id = #{classId}
    </select>
    
</mapper>